<app-navbar></app-navbar>

<div class="container my-4 ">
    <div class="row featurette d-flex justify-content-center align-items-center">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Why should we choose Infinity Insurance? <span class="text-muted">You can rely on us at all times</span></h2>
            <p class="lead">Value of insurance is realised when you make a claim. In your hour of need, be  it a major surgery or a broken car. You need more than just claim support. Our  team comprises highly trained professionals and functional experts to guide  you through the right course of action during emergenies.
                Insurance products are designed and priced through complicated mathematical models.But we strive to explain the extent of coverage to you in a simple manner.
            </p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="./assets/img/img3.png" alt=""  height="5000%" width="5000%">
           
        </div>
    </div>

    <div class="row featurette d-flex justify-content-center align-items-center">
        <div class="col-md-7 ">
            <h2 class="featurette-heading">What is the application process to buy Insurance? <span class="text-muted"></span></h2>
            <p class="lead">The online application process to buy this plan  is very simple and can be completed in  few minutes.You just need to enter your full name, marital status, highest eduction level, occupation, PAN number and your communication address.Health details like height, weight and details of pre-existing health conditions.Documents needed to be uploaded like PAN card, Aadhar card,Address proof(Driving licence,Passport) and Income proof(Salary slip).</p>
        </div>
        <div class="col-md-5 ">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="./assets/img/online1.jpg" alt="" height="1000%" width="1000%">

        </div>
    </div>

    <div class="row featurette d-flex justify-content-center align-items-center">
        <div class="col-md-7 order-md-2 ">
            <h2 class="featurette-heading">Is it safe to buy a insurance plan online?<span class="text-muted"></span></h2>
            <p class="lead">Yes, it is safe to buy insurance plan online, You can purchase insurance plan online with varified payment methods like UPI, debit or credit card, or net banking. As long as you select a reputable insurance company. You have nothing to worry about in case of any issues, you can also reach out to the customer service team.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="./assets/img/safe1.png" alt="" height="2050%" width="2050%">

        </div>
    </div>

</div><hr>

<h1 style="text-align:center">SERVICES</h1><br/>

<div class="container">

    <div class="row">
        <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="./assets/img/travel.png"  alt="" height="50%" width="50%">
  
          <h2>Travel Insurance</h2>
          <p>Travel insurance is a type insurance that covers different risks while travelling.It covers medical expenses
              lost luggage, flight cancellations and other losses that a traveller can incur while travelling.Travel Insurance is usaually taken
              from the day of travel till the time the traveller reaches back to their place.
          </p>

         <!--<p><a class="btn btn-secondary" href="#">View details »</a></p>-->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="./assets/img/health.jpg"  alt="" height="50%" width="50%">
  
  
          <h2>Health Insurance</h2>
          <p>A health insurance policy extends coverage against medical expenses incurred owing to accidents,illeness or injury.
               During this period, if an insured meets with an accidents
             the expenses incurred for treatment purposes are borne by the insurance provider.</p>
          <!--<p><a class="btn btn-secondary" href="#">View details »</a></p>-->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="./assets/img/flood.jpg"  alt="" height="50%" width="50%">
  
  
          <h2>Flood Insurance</h2>
          <p>Flood insurance is a type of insurance that covers a dwelling for losses sustained by water damage specifically due to flooding
               caused by heavy or prolonged rain,melting snow,coastal storm surges,blocked storm drainage systems or levee dam failure.</p>
          <!--<p><a class="btn btn-secondary" href="#">View details »</a></p>-->
        </div><!-- /.col-lg-4 -->
      </div><br/><br/>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

      <div class="container">

        <div class="row">
            <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="./assets/img/life.jpg"  alt="" height="50%" width="50%">
      
              <h2>Life Insurance</h2>
              <p>Travel insurance is a type insurance that covers different risks while travelling.It covers medical expenses
                  lost luggage, flight cancellations and other losses that a traveller can incur while travelling.Travel Insurance is usaually taken
                  from the day of travel till the time the traveller reaches back to their place.
              </p>
              
             <!--<p><a class="btn btn-secondary" href="#">View details »</a></p>-->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="./assets/img/car.jpg"  alt="" height="50%" width="50%">
      
      
              <h2>Car Insurance</h2>
              <p>A health insurance policy extends coverage against medical expenses incurred owing to accidents,illeness or injury.
                   During this period, if an insured meets with an accidents
                 the expenses incurred for treatment purposes are borne by the insurance provider.</p>
              <!--<p><a class="btn btn-secondary" href="#">View details »</a></p>-->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="./assets/img/two.webp"  alt="" height="50%" width="50%">
      
      
              <h2>Two Weeler Insurance</h2>
              <p>Flood insurance is a type of insurance that covers a dwelling for losses sustained by water damage specifically due to flooding
                   caused by heavy or prolonged rain,melting snow,coastal storm surges,blocked storm drainage systems or levee dam failure.</p>
              <!--<p><a class="btn btn-secondary" href="#">View details »</a></p>-->
            </div><!-- /.col-lg-4 -->
          </div><br/><br/><hr>
    

      




<app-footer></app-footer>