<app-navbar></app-navbar>
<br>

<div class = "container">
<div class="container my-4 ">
    <div class="row featurette d-flex justify-content-center align-items-center">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Why should we choose Infinity Insurance? <span class="text-muted">You can rely on us at all times</span></h2>
            <p class="lead">Value of insurance is realised when you make a claim. In your hour of need, be  it a major surgery or a broken car. You need more than just claim support. Our  team comprises highly trained professionals and functional experts to guide  you through the right course of action during emergenies.
                Insurance products are designed and priced through complicated mathematical models.But we strive to explain the extent of coverage to you in a simple manner.
            </p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="./assets/img/a1.jpg" alt=""  height="5000%" width="5000%">
           
        </div>
    </div>
    <br> <br> <br>

    <div class="row featurette d-flex justify-content-center align-items-center">
        <div class="col-md-7 ">
            <h2 class="featurette-heading">What is the application process to buy Insurance? <span class="text-muted"></span></h2>
            <p class="lead">The online application process to buy this plan  is very simple and can be completed in  few minutes.You just need to enter your full name, marital status, highest eduction level, occupation, PAN number and your communication address.Health details like height, weight and details of pre-existing health conditions.Documents needed to be uploaded like PAN card, Aadhar card,Address proof(Driving licence,Passport) and Income proof(Salary slip).</p>
        </div>
        <div class="col-md-5 ">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="./assets/img/a2.jpg" alt="" height="1000%" width="1000%">

        </div>
    </div>
    <br> <br> <br>

    <div class="row featurette d-flex justify-content-center align-items-center">
        <div class="col-md-7 order-md-2 ">
            <h2 class="featurette-heading">Is it safe to buy a insurance plan online?<span class="text-muted"></span></h2>
            <p class="lead">Yes, it is safe to buy insurance plan online, You can purchase insurance plan online with varified payment methods like UPI, debit or credit card, or net banking. As long as you select a reputable insurance company. You have nothing to worry about in case of any issues, you can also reach out to the customer service team.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="./assets/img/3.jpg" alt="" height="2050%" width="2050%">

        </div>
    </div>
    <br><br>

</div>
<hr>
<br>

<h1 style="text-align:center">REVIEWS</h1><br/>
<hr>

<div class="container">

    <div class="row">
        <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="./assets/img/review1.jpg"  alt="" height="50%" width="50%">
  
          <h2>Akrithi Bhatiya</h2>
          <p> Always helpful and always available. The folks at (IC) are my insurance people, for everything…cars, boats,
           houses and that makes my life easier. Peace of mind would be enough, but their bundled rates beat everyone else 
           I’ve used before too. I Definitely recommend this family agency!
          </p>

         <!--<p><a class="btn btn-secondary" href="#">View details »</a></p>-->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="./assets/img/review2.jpg"  alt="" height="50%" width="50%">
  
  
          <h2>Rahul singh</h2>
          <p>Great local insurance company for personal and business related insurance. Get immediate insurance proof and easy payment options.
            They answered all my questions and saved me a lot and provided more coverage than my current insurance.
          </p>
          <!--<p><a class="btn btn-secondary" href="#">View details »</a></p>-->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="./assets/img/review3.jpg"  alt="" height="50%" width="50%">
  
  
          <h2>John H</h2>
          <p> Called to get auto and home insurance quotes. (IA) and (IA) with (IC) group are very helpful. They answered all my questions and saved me a lot and provided more coverage than my current insurance.
            I highly recommend them..</p>
          <!--<p><a class="btn btn-secondary" href="#">View details »</a></p>-->
        </div>
        
        <!-- /.col-lg-4 -->
        
      </div><br/><br/>
      <br>
      <br>
    
        <hr>
      <h1 style="text-align:center;">Our Team</h1><br>
      <hr>
<div class="container"><br>
    
    
    <div class="row">
        <!--Buvaneswari Strted-->
        <div class="col-md">
            <div class="card">
                <img class="card-img-top" src="./assets/img/buvana1.jpg" alt="Card image cap" height="300px" width="100px">
                <div class="card-body">
                    <h5 class="card-title">Name:Bhuvaneshwari</h5>
                    <p class="card-text">Contact No:7338039604  <br> Email: kbhuvaneshwari28@gmail.com</p>
                    <a href="https://bit.ly/3MzKRCd" class="btn btn-danger"><i class="fab fa-github" style="color: white;"></i> Connect</a>
                </div>
            </div>
            <br>
        </div>
        <!--  Bhuvaneswari Ended-->

        <!--Primium Customers Strted-->
        <div class="col-md">
            <div class="card">
                <img class="card-img-top" src="./assets/img/sivani.png" alt="Card image cap" height="300px" width="100px">
                <div class="card-body">
                    <h5 class="card-title">Name: Sivani</h5>
                    <p class="card-text">Contact No:9110234831  <br> Email: shivanibg22@gmail.com</p>
                    <a href="https://github.com/shivanibg44/Infinity.git" class="btn btn-danger"><i class="fab fa-github" style="color: white;"></i> Connect</a>
                </div>
            </div>
            <br>
        </div>
        <!--Primium Customers Ended-->

        <!--hareesh Strted-->
        <div class="col-md">
            <div class="card">
                <img class="card-img-top" src="./assets/img/Hareesh_1.jpg" alt="Card image cap" height="300px" width="100px">
                <div class="card-body">
                    <h5 class="card-title">Name:G. Hareesh</h5>
                    <p class="card-text">Contact No: 8688126661 <br> Email: hareeshraj279@gmail.com</p>
                    <a href="https://bit.ly/3GEyNuV" class="btn btn-danger"><i class="fab fa-github" style="color: white;"></i> Connect</a>
                </div>
            </div>
        </div>
        <!--hareesh Ended-->
    </div>
</div>
<!--cards ended-->
<!--cards open-->
<div class="container"><br>
    <div class="row">
        <!--guru prasad card Strted-->
        <div class="col-md">
            <div class="card">
                <img class="card-img-top" src="./assets/img/guru.jpg" alt="Card image cap" height="300px" width="100px">
                <div class="card-body">
                    <h5 class="card-title">Name: Guru Prasad</h5>
                    <p class="card-text">Contact No:9845879581  <br> Email: gurucr4@gmail.com</p>
                    <a href="http://shorturl.at/exCS2" class="btn btn-danger"><i class="fab fa-github" style="color: white;"></i> Connect</a>
                </div>
            </div>
            <br>
        </div>
        <!--guru prasad card Ended-->

        <!--malathi card Started-->
        <div class="col-md">
            <div class="card">
                <img class="card-img-top" src="./assets/img/malathi.jpg" alt="Card image cap" height="300px" width="100px">
                <div class="card-body">
                    <h5 class="card-title">Name: Malathi</h5>
                    <p class="card-text">Contact No: 9986510305 <br> Email: malathisambaji24@gmail.com</p>
                    <a href="https://tinyurl.com/y8583sdl" class="btn btn-danger"><i class="fab fa-github" style="color: white;"></i> Connect</a>
                </div>
            </div>
            <br>
        </div>
        <!--malathi card Ended-->

        <!--NRI Customers Strted-->
        <div class="col-md">
            <!-- <div class="card">
                <img class="card-img-top" src="./assets/images/charan.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Name:Charana H U</h5>
                    <p class="card-text">Contact No:9481368353 Email:charanhumail@gmail.com</p>
                    <a href="#" class="btn btn-danger">Connect</a>
                </div>
            </div> -->
        </div>
        <!--NRI Customers Ended-->
    </div>
</div>
<!--cards ended-->
</div>










    

      




<app-footer></app-footer>