.navbar-dark .navbar-brand {
    color: rgb(245, 245, 250);
    text-decoration: solid;
    text-decoration-style: double;
    
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(245, 245, 250);
    text-decoration: solid;
    
}
.navbar-brand
{
    
    font-size: 20px;
    font-weight: bolder;
}
.navbar-dark .navbar-nav.nav-link {
    color: rgb(1, 1, 26);

    text-decoration: solid;
}