<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="landing" routerLinkActive="active-link">INFINITY INSURANCE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          
          <li class="nav-item">
            <a class="nav-link"routerLink="/home" routerLinkActive="active-link">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about" routerLinkActive="active-link">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" routerLink = "/services" routerLinkActive="active-link"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Services
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="nav-link" routerLink = "/hi" >Health Insurance</a></li>
              <li><a class = "nav-link" routerLink = "/li" >Term Life Insurance</a></li>
              <li><a class = "nav-link" routerLink = "/ci" >Car Insurance</a></li>
              <li><a class="nav-link" routerLink = "/two" >Two Wheeler Insurance</a></li>
              <li><a class="nav-link" routerLink = "" >House Loan</a></li>
             
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active-link">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register" routerLinkActive="active-link">Signup</a>
          </li>
      </ul>     
      </div>
    </div>
  </nav>




