<!-- icons section starts  -->


<!-- icons section ends -->

<!-- services section starts  -->

<section class="services" id="services">

    <h1 class="heading"> our <span>services</span> </h1>

    <div class="box-container">

        <div class="box">
            <i class=""></i>
            <h3>Health Insurance</h3>
            
            <a href="#" class="btn"> learn more <span class="fas fa-chevron-right"></span> </a>
        </div>

        <div class="box">
            <i class="fa fa-heartbeat"></i>
            <h3>Term Life Insurance</h3>
            <a href="#" class="btn"> learn more <span class="fas fa-chevron-right"></span> </a>
        </div>

        <div class="box">
            <i class="fa fa-car"></i>
            <h3>Car Insurance</h3>
            <a href="#" class="btn"> learn more <span class="fas fa-chevron-right"></span> </a>
        </div>

        <div class="box">
            <i class="fa fa-bicycle"></i>
            <h3>Two Weeler Insurance</h3>
            <a href="#" class="btn"> learn more <span class="fas fa-chevron-right"></span> </a>
        </div>

        <div class="box">
        
            <i class="fa fa-home"></i>
            <h3>Home Loan</h3>
            <a href="#" class="btn"> learn more <span class="fas fa-chevron-right"></span> </a>
        </div>

        
    </div>

</section>

<!-- services section ends -->

<!-- about section starts  -->

<section class="about" id="about">

    <h1 class="heading"> <span>about</span> us </h1>

    <div class="row">

        <div class="image">
            <img src="infinity.jpeg" alt="">
        </div>

        <div class="content">
            <h3>Security is a priority, not an option.</h3>
            <p>Buying insurance is important as it ensures that you are financially secure to face any type of problem in life, and this is why insurance is a very important part of financial planning. Our insurance company offers insurance policies to secure health, Life, motor vehicle, and home.</p>
            
            <a href="#" class="btn"> learn more <span class="fas fa-chevron-right"></span> </a>
        </div>

    </div>

</section>


<section class="review" id="review">
    
    <h1 class="heading"> client's <span>review</span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="p2.jpg" alt="">
            <h3>john deo</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <p class="text">I bought my insurance plan and wasnted to have some add ons. I added helmet cover and passenger cover on the plan. It didnt require any lenghty procedure and was done quickly.</p>
        </div>

        <div class="box">
            <img src="p1.jpg" alt="">
            <h3>john deo</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <p class="text">The accesories of my bike and the rear view mirrors and the headlights were stolen. Thankfully I was able to get compensation for the things that were covered under the insurance the accessories from the policy I had bought online from Infinity Insurance.</p>
        </div>

        <div class="box">
            <img src="p3.jpg" alt="">
            <h3>john deo</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <p class="text">I purchased group health insurance for my female employees from Infinity Insurance, which included maternity coverage as well as a variety of other benefits. Infinity Insurance crew is fantastic at addressing questions. They answered all of my questions.</p>
        </div>

    </div>

</section>

<!-- review section ends -->

<!-- blogs section starts  -->

<section class="blogs" id="blogs">

    <h1 class="heading"> our <span>Benefits</span> </h1>

    <div class="box-container">

        <div class="box">
            <div class="image">
                <img src="ben1.svg" alt="">
            </div>
            <div class="content">
                <h3>5 Minutes Policy Issuance*</h3>
                <p>Say no to spending hours and days in queues doing the paperwork for your insurance policy. Get your insurance issued instantly with InsuranceDekho. The entire process from selecting the best insurance policy to getting it issued takes just 5 minutes on Infinity Insurance.</p>
              
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="ben2.svg" alt="">
            </div>
            <div class="content">
                
                <h3>Over 14 Lac Happy Customers</h3>
                <p> Infinity Insurance is becoming a household name in India. Till now we have been successful in providing a delightful experience to more than 14 lac customers with the help of our transparent and quick process, a dedicated support team along with the availability of numerous insurers.</p>
               
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="ben3.svg" alt="">
            </div>
            <div class="content">
               
                <h3>Dedicated Support Team</h3>
                <p>Our dedicated support team is available for your assistance all the 7 days. Feel free to reach out to us in case of any confusion - be it related to the purchase of an insurance policy or assistance during the settlement of a claim, our team of experts is at your service all days.</p>
                
            </div>
        </div>

    </div>

</section>

<!-- blogs section ends -->





<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
       
        <div class="card-body">
          <h5 class="card-title">27.1 MILLION</h5>
          <p class="card-text">Policies Issued</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">1.6 MILLION</h5>
          <p class="card-text">Clients Setteled</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">10800+</h5>
          <p class="card-text">Network Garages</p>
        </div>
      </div>
    </div>
   


