.form-control{

    width: 350px;
}
.container {
    max-width: 500px;
    margin: auto;
    background: rgb(0, 3, 14);
    padding: 60px;
    color: aliceblue;
    
}
body {
    background-color: antiquewhite;
}

