
  <div class="sidebar">
      <h1></h1>
      <ul>
      <br>
          
          <li><a href="#"><i class="fas fa-address-card"></i>Dashboard</a></li>
          <li><a href="#" ><i class="fas fa-address-card"></i>Policy</a></li>
          <li><a href="#" ><i class="fas fa-blog"></i>My documents</a></li>
         
          <li><a href="#" ><i class="fas fa-address-card"></i>My services</a></li>

          <li> <a href="#" > 
            <i class="fas fa-project-diagram"></i> <small>Settings</small> </a> </li>
      </ul> 
     
  </div>


