
  <div class="sidebar">
      <h1></h1>
      <ul>
      
          <li><a href="#"><i class="fas fa-user"></i>Info</a></li>
          <li><a href="#"><i class="fas fa-address-card"></i> Policy Types</a></li>
          <li><a href="#"><i class="fas fa-project-diagram"></i>New Policy</a></li>
          <li><a href="#"><i class="fas fa-blog"></i>My Policy</a></li>
         
          <li><a href="#" ><i class="fa-solid fa-square-poll-horizontal"></i>Payment</a></li>
          <li> <a href="#" > 
            <i class="fa fa-cog" ></i> <small>Settings</small> </a> </li>
      </ul> 
     
  </div>


