<app-sidebar></app-sidebar>

<app-navbar></app-navbar>

<div class = "demo3">
<div class="container">  
  
  <ul class="nav nav-pills">  
    &nbsp;&nbsp;
    &nbsp;&nbsp;
    &nbsp;&nbsp;
    &nbsp;&nbsp;
    &nbsp;&nbsp;
    &nbsp;&nbsp;
    &nbsp;&nbsp;
    &nbsp;&nbsp;

    <li class="active"><a data-toggle="pill" href="#home1">Policy Types</a></li>  &nbsp;&nbsp;
    <li class="active"><a data-toggle="pill"   class="nav-link"routerLink="/new-policy" routerLinkActive="active-link">New policy</a></li> &nbsp;&nbsp;
    <li class="active"><a data-toggle="pill"  class="nav-link"routerLink="/mypolicy" routerLinkActive="active-link">My Policy</a></li>&nbsp;&nbsp;  
      
     
  </ul> 
</div>
</div>
<br>

<hr class="new1">
<div class="demo2">
<div id="menu1" class="container tab-pane active" >
  <div class='table-responsive'>
    <!--table started-->
    <table class='table table-hover'>
      <thead>
        <tr>
          <th>S.No</th>
          <th >Policy_ID</th>
          <th>Policy_Name</th>
          <th >Policy_Plan(yearly)</th>
          <th>Tax Benifit</th>
          <th>Save Up To</th>
        </tr>
      </thead>
      <tbody>
        
        <tr>
          <td>1</td>
          <td>CD1783</td>
          <td>Home Insurance</td>
          <td>20y</td>
          <td>Rs. 75,000</td>
          <td>20.5%</td>
        </tr>
        <tr>
            <td>2</td>
            <td>CD1787</td>
            <td>Life Insurance</td>
            <td>25y</td>

            <td>Rs.1,00,000</td>
            <td>35%</td>
          </tr>
          <tr >
              <td>3</td>
            <td>CD21747</td>
            <td>Tavel Insurance</td>
            <td>8y</td>
            <td>Rs. 80,000</td>
            <td>18.23%</td>
          </tr>
          <tr >
              <td>4</td>
            <td>CD1786</td>
            <td>Health Insurance</td>
            <td>25y</td>
            <td>Rs. 4,00,000</td>
            <td>38.2%</td>
          </tr>
          <tr>
              <td>5</td>
            <td>CD1783</td>
            <td>Property Insurance</td>
            <td>15y</td>
            <td>Rs. 2,25,000</td>
            <td>28.3%</td>
          </tr>
      </tbody>
    </table>
    <!--table ended-->
  </div>
</div>
</div>