<app-sidebar></app-sidebar>
<app-navbar></app-navbar>
<div id="menu1" class="container tab-pane active" >
  <div class='table-responsive'>
    <table class='table table-hover'>
      <thead>
        <tr>
          <th>S.No</th>
          <th >Policy_ID</th>
          <th>Policy_Name</th>
          <th >Policy_Plan(yearly)</th>
        </tr>
      </thead>
      <tbody>
        
        <tr >
          <td>1<td>
          <td>4521783</td>
          <td>Home Insurance</td>
          <td>20y</td>
        </tr>
        <tr >
            <td>2</td>
            <td>4521787</td>
            <td>Life Insurance</td>
            <td>20y</td>
          </tr>
          <tr >
              <td>3</td>
            <td>4521787</td>
            <td>Tavel Insurance</td>
            <td>8y</td>
          </tr>
          <tr >
              <td>4</td>
            <td>4521786</td>
            <td>Health Insurance</td>
            <td>25y</td>
          </tr>
          <tr >
              <td>5</td>
            <td>4521783</td>
            <td>Property Insurance</td>
            <td>20y</td>
          </tr>
      </tbody>
    </table>
  </div>
</div>