<!--navbar started-->
<app-navbar></app-navbar>
<!--navbar ended-->

<!--Register started-->
<div class="container">
    <h1>Sign UP</h1>
      <form class="form" style="border-radius: 0px;" [formGroup]="userForm" (ngSubmit)="onSubmit()">
        
        <br>
        <div class="form-column">
          <div class="col">
            <label for="name">Full Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter Full Name" name="name"
              style="border-radius: 5px;" formControlName="Name">
          </div>
          <div class="col">
            <label for="Email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="Email"
              style="border-radius: 5px;" formControlName="Email">
          </div>
          <div class="col">
            <label for="PhoneNumber">Phone Number</label>
            <input type="number" class="form-control" id="phonenumber" placeholder="Enter Phone Number"
              name="phone_number" style="border-radius: 5px;" formControlName="PhoneNumber">
          </div>
          <div class="col">
            <label for="paw">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter Password" name="pswd"
              style="border-radius: 5px;" formControlName="Password">
          </div>
          <div class="col">
            <label for="confirmpassword">Confirm Password</label>
            <input type="password" class="form-control" id="confirmpassword" placeholder="Enter Confirm Password"
              name="ConfirmPassword" style="border-radius: 5px;" formControlName="ConfirmPassword">
          </div>
          <div class="col">
            <br>
            <input type="checkbox" class="form-checkbox" id="paw"><span> Remember me </span>
          </div>
          <div class="col">
            <br>
            <button type="submit" class="btn btn-primary" style="border-radius: 5px;" id="register">Sign Up</button>
          </div>
        </div>
        <br>
      </form>
      </div>
    
   



