.form-control{

    width: 350px;
    border: none;
    outline: none;
    line-height: 2.6;
    overflow: hidden;
    border-bottom: 2px solid #B0B3B9;

    
}
.container {
    max-width: 500px;
    margin: auto;
   
    padding: 30px;
    margin-top: 20px;
   box-shadow: 0 0 20px 6px #a8a8aa85;
 height: 450px;
}