
<div class="container" >
    <br>
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link " data-toggle="tab" href="#home" ></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu1"  >All Policies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu2">My Policies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu3">newpolicy</a>
      </li>
    </ul>
    <div class="tab-content" >
        <div id="menu1" class="container tab-pane active" >
          <div class='table-responsive'>
            <table class='table table-hover'>
              <thead>
                <tr>
                  
                  <th >Policy_ID</th>
                  <th>Policy_Name</th>
                  <th >Policy_Plan(yearly)</th>
                </tr>
              </thead>
              <tbody>
                
                <tr >
                  
                  <td>4521783</td>
                  <td>Home Insurance</td>
                  <td>20y</td>
                </tr>
                <tr >
                  
                    <td>4521787</td>
                    <td>Life Insurance</td>
                    <td>20y</td>
                  </tr>
                  <tr >
                  
                    <td>4521787</td>
                    <td>Tavel Insurance</td>
                    <td>20y</td>
                  </tr>
                  <tr >
                  
                    <td>4521786</td>
                    <td>Health Insurance</td>
                    <td>20y</td>
                  </tr>
                  <tr >
                  
                    <td>4521783</td>
                    <td>Property Insurance</td>
                    <td>20y</td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>

        
    </div>
</div>